/**
* tailwindCSS base imports
*
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap'); */

/**
* configuarations for dark mode & light
*
*/

:root {
  color-scheme: light;
  --color: #243746;
  --color-primary: #8B5CF6;
  --color-secondary: #0e2233;
  --bg: #ddd;
  --bg-secondary: #fff;
  --border-color: #ddd;
}

.dark {
  color-scheme: dark;
  --color: #ebf4f1;
  --color-primary: #8B5CF6;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
}

body {
  background-color: var(--bg);
  color: var(--color);
  transition: background-color .3s;
}